{% load static %}

{% block body %}

{% include 'recruiter_navigation.html' %}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Details</title>
    <link href="https://fonts.googleapis.com/css2?family=Monotype+Corsiva&family=Dancing+Script:wght@400;700&display=swap" rel="stylesheet">
    <style>
        .btn-dark {
            background-color: #000;
            color: #fff;
            font-size: 18px;
            padding: 15px;
            width: 100%;
            cursor: pointer;
        }

        .btn-dark:hover {
            background-color: #333;
        }

    
        
    </style> 
</head>

<body>


    <!-- Marquee Section -->
    <marquee style="font-family: 'Monotype-Corsiva'; font-size: 40px; color: white; background-color: black; font-weight: bold; margin-top: 1%">
       Edit Job Details
    </marquee>

    <div class="container mt-5">
        <form name="signup" method="POST"  enctype="multipart/form-data"  class="shadow p-4 rounded" onsubmit="return checkpass()" style="background-color: #f2f2f2;">
            {% csrf_token %}

            <h3 class="text-center mb-4" style="font-family: 'Dancing Script', cursive; color: maroon;">Edit Details</h3>

         
            <div class="form-group">
                <label><b>Job Title</b></label>
                <input type="text"  class="form-control" name="jobtitle"  value = "{{job.job_title}}" >
            </div>

            
            <div class="form-row">

                <div class="form-group col-md-6">
                <label ><b>Start Date</b></label> <span style="color: Red"> [{{job.start_data}}] </span>
                <input type="Date" id="startdate" class="form-control" name="startdate">
                </div>
                <div class="form-group col-md-6">

                <label ><b>End Date</b></label> <span style="color: Red"> [{{job.End_data}}] </span>
                <input type="Date" id="enddate" class="form-control" name="enddate">
               
                </div>  
            </div>

            
            <div class="form-row">

            <div class="form-group col-md-6">
                <label ><b>Salary(Per Month)</b></label>
                <input type="Number" id="Salary" class="form-control" name="Salary" value = "{{job.job_salary}}" >
                </div>

                <div class="form-group col-md-6">
                <img src = "{{job.Image.url}}" width="120" height="90"><a href = "{% url 'change_logo' pid=job.id %}"> Change Company Logo </a>
               
                </div>
            </div>

            <!-- Email -->
            <div class="form-row">

            <div class="form-group col-md-6 ">
                <label ><b>Experience(In Years)</b></label>
                <input type="Number" id="Experience" class="form-control" name="Experience" value = "{{job.job_experience}}" >
            </div>

            <div class="form-group col-md-6 ">
                <label ><b> Company Location</b></label>
                <input type="text" id="location" class="form-control" name="location"  value = "{{job.job_location}}" >
            </div>
        </div>
            <!-- Contact Number -->
            <div class="form-group">
                <label ><b>Skills</b></label>
                <input type="text" id="Skills" class="form-control" name="Skills" value = "{{job.Skills}}"  >
            </div>

            <!-- Contact Number -->
            <div class="form-group">
                <label ><b>Description</b></label>
                <textarea  class="form-control" name="Description" >  {{job.job_description}}</textarea>
            </div>


            
            <!-- Submit Button -->
            <div class="form-group">
                <button type="submit" class="btn btn-dark" style="font-size: 18px;">
                     Edit
                </button>
            </div>
        </form>
    </div>
 
</body>

</html>

{% include 'footer.html' %}

{% if error == "No" %} 
<script>
    alert("Job Details have been updated successfully");
    window.location = ('{% url "edit_jobdetails" job.id %}');
</script>
{% elif error == "Yes" %} 
<script>
    alert("Something went wrong, try again...");
</script>
{% endif %}

{%  endblock %}

